:root {
  --background-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding-top: 1.5em;
}

body:has(dialog[open]) {
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.page-title {
  text-align: center;
  padding-bottom: 1em;
}

.photo-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.photo-grid li {
  /* 
    Use padding to maintain 1.78 aspect ratio while the container 
    width changes.
  */
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.photo-grid img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#expanded-photo-container {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}

#expanded-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  view-transition-name: photo;
}

::view-transition-old(photo),
::view-transition-new(photo) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(photo) {
  isolation: none;
}

