:root {
  --background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --text-color: rgba(255, 255, 255, 0.87);
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
}

body:has(dialog[open]) {
  /* Scrollbar will disappear, add padding to account for it */
  padding-right: 15px;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1;
}

.page-title {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.photo-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.photo-grid li {
  /* 
    Use padding to maintain 1.78 aspect ratio while the container 
    width changes.
  */
  padding-top: 56.25%;
  width: 100%;
  position: relative;
}

.photo-grid img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#expanded-photo-container {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: unset;
  height: 100vh;
  max-height: unset;
  background: var(--background-color);
  display: none;
  place-content: center;
  overflow: hidden;
  cursor: pointer;
}

#expanded-photo-container[open] {
  display: grid;
}

#expanded-photo-container img {
  object-fit: contain;
  view-transition-name: photo;
  /* 
    Make the image a block element to remove the weird 
    margin at the bottom 
  */
  display: block;
}

#expanded-photo-container img.horizontal {
  width: 100vw;
  height: auto;
}

#expanded-photo-container img.vertical {
  height: 100vh;
  width: auto;
}

#expanded-photo-container figcaption {
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 4px;
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(255, 255, 255, 0.5);
  /* 
    Give the caption its own transition name so that it appears
    above the image during the transition
   */
  view-transition-name: figcaption;
}

::view-transition-old(photo),
::view-transition-new(photo) {
  animation: none;
  mix-blend-mode: normal;
  height: 100%;
  overflow: clip;
}

::view-transition-image-pair(photo) {
  isolation: none;
}

html:active-view-transition-type(expand) {
/* The old view is the thumbnail */
  &::view-transition-old(photo) {
    /* Maintain the aspect ratio of the view,
    by shrinking it to fit within the bounds of the element */
    object-fit: contain;
  }
  
  /* The new view is the full image */
  &::view-transition-new(photo) {
    /* Maintain the aspect ratio of the view,
    by growing it to cover the bounds of the element */
    object-fit: cover;
  }
}

html:active-view-transition-type(shrink) {
/* The old view is the full image */
  &::view-transition-old(photo) {
    /* Maintain the aspect ratio of the view,
    by growing it to cover the bounds of the element */
    object-fit: cover;
  }
  
  /* The new view is the thumbnail */
  &::view-transition-new(photo) {
    /* Maintain the aspect ratio of the view,
    by shrinking it to fit within the bounds of the element */
    object-fit: contain;
  }
}

